@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
    url(../fonts/OpenSans-Regular.woff)
      format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*   border: 1px green solid; */
  list-style: none;
  font-family: "OpenSans";
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.header {
  padding-top: 28px;
  background-image: url(../images/banner-bg.jpg);
  background-color: #000333;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  position: relative;
  z-index: 1;
}

.header:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;

  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.logo {
  width: 180px;
  padding: 0;
}

.top-nav {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
}

.list-item:nth-of-type(n + 2) {
  margin-left: 35px;
}

.list-item {
  display: inline-block;
  color: #ffffff;
}

.list-item:hover {
  text-decoration: underline;
}

.title {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 45px;
  line-height: 1.6;
  margin-top: 105px;
  padding-bottom: 128px;
}

.trends-gallery {
  display: flex;
  gap: 5px;
  flex-wrap: nowrap;
  width: 100%;
  height: 320px;
}

.trends-post {
  width: 25%;

  padding: 0 20px 20px 20px;
  background-color: #002333;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  position: relative;
  z-index: 1;

  display: flex;
}

.trends-post:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;

  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.trends-description {
  border: 3px solid #b59f5b;
  padding: 40px 35px;
  margin-bottom: 10px;
  margin-top: auto;
}

.trends-title {
  color: white;
  font-size: 20px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 7px;
}

.trends-title:hover {
  color: #b59f5b;
}

.wrp {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  padding: 0 15px;
  justify-content: space-between;
}

.post {
  display: flex;
  margin-bottom: 62px;
}

.post:last-of-type {
  margin-bottom: 0;
}

.post-picture {
  max-width: 383px;
  width: 100%;
  height: 292px;
  object-fit: contain;
}
.post-description {
  max-width: 365px;
  width: 100%;
  margin-left: 30px;
}

.tags {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  color: #b59f5b;
  margin-right: 20px;
  text-transform: uppercase;
  flex-wrap: wrap;
}

.post-tag {
  font-size: 14px;
  font-weight: bold;
  color: #b59f5b;
  margin-right: 20px;
  text-transform: uppercase;
}

.post-tag:hover {
  text-decoration: underline;
}

.post-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 7px;
}

.post-title:hover {
  color: #b59f5b;
}

.post-info {
  font-size: 12px;
  margin-top: 28px;
}

.date {
  color: #888888;
}

.author {
  font-weight: bold;
  margin-left: 9px;
}

.post-text {
  display: block;
  font-size: 15px;
  line-height: 1.46;
  margin-top: 46px;
}

.sidebar {
  max-width: 270px;
  width: 100%;
}

.sidebar-title {
  font-size: 14px;
  line-height: 1.3;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.sidebar-title:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  opacity: 0.4;
  margin: 10px auto 24px;
}

.lastest-posts {
  max-width: 270px;
  width: 100%;
}

.lastest-post-item {
  display: flex;
  margin-bottom: 22px;
  align-items: flex-start;
}

.lastest-post-picture {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.lastest-post-content {
  margin-left: 16px;
  height: 70px;
  overflow: hidden;
  font-size: 12px;
  line-height: 12px;
}

.lastest-post-title {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 4px;
  text-overflow: ellipsis;
}

.lastest-post-title:hover {
  color: #b59f5b;
}

.search {
  display: flex;
  margin-top: 60px;
}

.search-text {
  height: 48px;
  width: 222px;
  border: none;
  background-color: #f4f7f6;
  padding-left: 18px;
}

.search-text:focus {
  outline: solid 1px #b59f5b;
}

.search-button {
  height: 48px;
  width: 48px;
  background-color: #b59f5b;
  border: none;
}

.search-button:hover {
  background-color: #323232;
  cursor: pointer;
}

.subscribe {
  margin-top: 60px;
}

.email {
  box-sizing: border-box;
  height: 48px;
  max-width: 270px;
  width: 100%;
  border: none;
  background-color: #f4f7f6;
  padding-left: 18px;
}

.subscribe-button {
  margin-top: 14px;
  height: 48px;
  max-width: 270px;
  width: 100%;
  background-color: #b59f5b;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.subscribe-button:hover {
  background-color: #323232;
  cursor: pointer;
}

.email:focus {
  outline: solid 1px #b59f5b;
}

.taglist {
  margin-top: 55px;
}

.taglist-list {
  display: flex;
  flex-wrap: wrap;
}

.taglist-item {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border: solid 2px #eeeeee;
  padding: 7px 13px;
  margin-right: 8px;
  margin-bottom: 3px;
}

.taglist-item:hover {
  border: solid 2px #b59f5b;
}

.topics {
  margin-top: 50px;
}

.topic-item {
  font-size: 14px;
  font-weight: bold;
  /*   text-transform: capitalize; */
  border-bottom: solid 1px #eeeeee;
  padding-bottom: 8px;
  margin-top: 16px;
}

.topic-item:hover {
  color: #b59f5b;
}

.topic-counter {
  font-size: 12px;
  font-weight: bold;
  margin-left: 5px;
  color: #b59f5b;
}

/*магазин*/
.shop {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.shop-gallery {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.shop-item {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: center;
}

.shop-item-description {
  display: flex;
  flex-direction: column;
  border: solid 3px #b59f5b;
  max-width: 400px;
  width: 100%;
  padding: 55px 20px 25px 20px;
  height: 100%;
  justify-content: start;
}

.shop-item-image {
  /*height: 262px;*/
  width: calc(100%-10px);
  background-color: #000000;
  background-size: cover;
  position: relative;
  top: 32px;
  z-index: -1;
}

.link {
  color: #b59f5b;
}

.link:hover {
  text-decoration: underline;
}

/*футер карточки магазина*/

.product-footer {
  margin-top: 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.product-prices {
  display: flex;
  flex-direction: column;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}

.old-price {
  font-size: 14px;
  line-height: 0;
  font-weight: bold;
  text-decoration: line-through;
}

.product-button {
  margin-top: 14px;
  height: 48px;
  width: 140px;
  background-color: #b59f5b;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}

.social {
  display: flex;
  background-color: #f4f7f6;
  padding: 30px 0;
  justify-content: center;
  gap: 29px;
  margin: 64px 15px 72px 15px;
}

.social-icon {
  display: block;
  width: 20px;
  height: 20px;
}

.social-dribble {
  background-image: url(../svg/001-dribbble.svg);
}

.social-pinterest {
  background-image: url(../svg/002-pinterest.svg);
}

.social-tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.copyright {
  color: #999999;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
}

.section-title {
  font-size: 20px;
  line-height: 1.45;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}

.section-title:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  opacity: 0.4;
  margin: 10px auto 24px;
}

.popup {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0px;
  display: none;
  z-index: 4;

  align-items: center;
  justify-content: center;
}

.popup .popup-content {
  width: 390px;
  min-height: 590px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000;
}

.popup-content {
  position: relative;
  margin: auto;
}

.title-popup {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 35px;
}

.title-popup::after {
  display: flex;
  align-items: center;
  content: "";
  margin: 12px auto;
  height: 3px;
  width: 66px;
  background-color: #b59f5b;
  opacity: 0.4;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.select-group {
  display: flex;
  flex-direction: column;
}

.select {
  background-color: #f4f7f6;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px center;
  font-size: 14px;
  width: 100%;
  height: 48px;
  background-image: url(../svg/form-arrows.svg);
  margin: 0;
  background-size: 14px;
  border: none;
  margin-bottom: 20px;
  color: #000000;
}

.select:focus {
  padding-top: 14px;
  padding-bottom: 17px;
  background-color: #f4f7f6;
  outline: 1px solid #b59f5b;
}

.answer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.yes {
  appearance: none;
  -webkit-appearance: none;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  font-size: 10px;
  width: 30px;
  height: 30px;
  margin: 0;
  background-size: 20px;
  border: none;
}

.no {
  appearance: none;
  -webkit-appearance: none;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  font-size: 10px;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background-size: 20px;
  border: none;
}

.yes:checked {
  background-image: url(../svg/form-circle.svg);
}

.no:checked {
  background-image: url(../svg/form-circle.svg);
}

.story {
  display: flex;
  flex-direction: column;
}

.select-label {
  margin-bottom: 10px;
}

.text {
  background-color: #f4f7f6;
  min-height: 150px;
  border: none;
  resize: none;
  width: 100%;
}

.text:focus {
  background-color: #f4f7f6;
  outline: 1px solid #b59f5b;
  box-sizing: border-box;
}

.popup-button {
  margin-top: 10px;
  width: 100%;
  height: 60px;
}

.popup-close {
  width: 2em;
  height: 2em;
  font-size: 20px;
  position: absolute;
  top: -1.6em;
  right: -1.6em;
  background-color: transparent;
  border: none;
  padding: 0;
  text-indent: -9999px;
  cursor: pointer;
}

.popup-close:before,
.popup-close:after {
  width: 1.4em;
  height: 0.2em;
  content: "";
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.popup-close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup-close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/*mobile*/
@media (max-width: 640px) {
  .header {
    background-image: url("../images/banner-mobile.jpg");
    min-width: 320px;
    max-width: 640px;
    height: 640px;
    width: auto;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo {
    width: 280px;
    margin-top: 180px;
    margin-left: 0px;
    align-items: center;
  }

  .menu {
    display: none;
  }

  .top-nav {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .title {
    font-size: 26px;
    line-height: 36px;
    max-width: 320px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .site-content {
    display: block;
  }

  .trends {
    width: 100%;
  }

  .trends-gallery {
    max-width: 640px;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    min-width: 320px;
    height: auto;
  }

  .trends-title {
    font-size: 16px;
  }

  .post-tag {
    font-size: 14px;
  }

  .section-title {
    margin-top: 45px;
    margin-bottom: 40px;
    font-size: 16px;
  }

  .sidebar-title {
    margin-top: 45px;
    margin-bottom: 40px;
    font-size: 16px;
  }

  .trends-post {
    width: 100%;
    padding: 90px 15px 15px 15px;
  }

  .wrp {
    display: block;
  }

  .post {
    display: flex;
    flex-direction: column;
    margin-bottom: 34px;
  }

  .post-description {
    padding-top: 35px;
    margin: auto;
    padding-bottom: 28px;
    border-bottom: solid 4px #eeeeee;
  }

  .post:last-of-type .post-description {
    border-bottom: none;
  }

  .post-title {
    font-size: 16px;
  }

  .lastest-post-title {
    display: block;
  }

  .sidebar,
  .lastest-posts,
  .search,
  .subscribe,
  .taglist,
  .topics {
    width: 100%;
    max-width: 640px;
  }

  .search-text,
  .email,
  .subscribe-button {
    width: 100%;
    max-width: 640px;
  }

  .topic-item {
    padding-bottom: 15px;
  }

  .shop-gallery {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    align-items: center;
    gap: 0;
  }

  .shop-item {
    width: 100%;
    
  }
}
